<app-main-nav-employeer>
  <div class="profile-container-header">
    <h1>PERFIL EMPRESARIAL</h1>
  </div>
  <div class="profile-container-header">

    <div class="form-group">

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Nombre </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="companyData.name">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Descripción </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="description" [(ngModel)]="companyData.description">
        </mat-form-field>
      </form>


      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Logo </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="logo" [(ngModel)]="companyData.logo">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> RUC </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="ruc" [(ngModel)]="companyData.ruc">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Dirección </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="video" [(ngModel)]="companyData.direccion">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Link del video (subido a YouTube) </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="url_video" [(ngModel)]="companyData.url_video" placeholder="https://www.youtube.com/watch?v=PVKQDmdjMDs">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> ID del sector </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="sectorId" [(ngModel)]="companyData.idSector" placeholder="1">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Nombre del sector </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="sectorName" [(ngModel)]="companyData.nameSector" placeholder="Tecnologia">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Descripción del sector </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="sectorDescription" [(ngModel)]="companyData.descriptionSector" placeholder="Sector de tecnologia">
        </mat-form-field>
      </form>

      <br>
    </div>
    <br><br>
    <button class="btn-option" (click)="addCompany()" mat-raised-button color="primary">Guardar cambios</button>
  </div>
</app-main-nav-employeer>

