.company-list-container{
  width: 100%;
}
.company-list-container-form-input input{
  width: 400px;
  height: 30px;
}
.company-list-container-form button{
  margin-left: 30px;
  border: 0;
  background: #1955AE;
  color: white;
  padding: 0 20px;
}
.company-list-container-list ul{
  list-style: none;
  padding:0;
}
.company-item{
  border-radius: 10px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 6px -2px #000000;
  padding: 15px;
  cursor: pointer;
  transition: all 500ms;
}
.company-item:hover{
  transform: scale(1.05);
}
.company-item-text-left h2{
  color: #1955AE;
  font-weight: 700;
}
.company-item-text-right img{
  width: 50px;
  height: 50px;
}
.company-item-text-right-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:768px){
  .company-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .company-item{
    width: 100%;
  }
  .company-list-container-form{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
  .company-list-container-form input{
    width: 100%
  }
}
